<div class="jumbotron">

    <!-- User is authenticated-->
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
<h1>Hallo @User.Identity.Name,</h1>

                <p>
                    willkommen zurück zum Web-Interface der PokeArena.
                </p> <!-- anonymous user--> }
            else
            {
<h1>Hallo anonymer Benutzer,</h1>
                <p>
                    Es freut uns sehr dass du den Weg in das Web-Interface der PokeArena gefunden hast.

                    Wenn du bereits registriert bist, kannst du <a href="/signin?returnUrl=%2F">hier</a> klicken um dich mit deinem Twitch-Account einzuloggen.
                    Ansonsten kannst du dich <a href="/register">hier</a> neu registrieren und dir dein Starter-Pokemon auswählen!
                </p>}
</div>